
body {
    max-width: 1440px;
    margin: auto;
    font-size: 14px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body.dark-mode,
body.dark-mode .my-card,
body.dark-mode .text-body-secondary,
body.dark-mode #mode {
 background: #222 !important;
  color: #fff !important;
  border-color: #444 !important;
}
body.light-mode,
body.light-mode .my-card {
  background: #fff !important;
  color: #222 !important;
  border-color: #ccc !important;
  
}
#moon {
  width: 25px;
  height: 25px;
  background: transparent; 
  border: none;            
}
#theme-toggle {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.search-selector-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  padding: 0 30px 5px 30px ;
}

.search-input {
  width: 250px;
  padding: 5px 5px 5px 40px; 
  background-image: url('###'); 
  background-position: 10px center; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.img-fluid {
  width: 100% !important;
  max-width:90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  #country-details {
    display: flex !important;
    flex-direction: column !important;
    gap: 0;
  }
  #country-details > div {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
    display: block !important;
    float: none !important;
    flex: 0 0 auto !important;
  }
}
