body{
    background-color: aqua;
    max-width: 1440px;
    margin: auto;
}
.flag-img {
  height:50%;     
  object-fit: cover;
}

.search-input {
  width: 250px;
  padding: 5px 5px 5px 40px; 
  background-image: url('searchicon.png'); 
  background-position: 10px center; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
}