
body {
    max-width: 1440px;
    margin: auto;
    font-size: 14px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body.dark-mode, 
body.dark-mode .form-select,
body.dark-mode .search-input {
  background: #222;
  color: #fff;
}
body.light-mode,
body.dark-mode .form-select,
body.dark-mode .search-input {
  background: #fff;
  color: #222;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.search-selector-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  padding: 0 30px 5px 30px ;
}
#moon {
  width: 25px;
  height: 25px;
}
.search-input {
  width: 250px;
  padding: 5px 5px 5px 40px; 
  background-image: url('###'); 
  background-position: 10px center; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#countries-containe {
  font-size: 16px;
}

@media  (max-width: 767px) {
  .search-input{
    width: 100%;
  }
  .search-selector-row {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}