
body{
    background-color: aqua;
    max-width: 1440px;
    margin: auto;
}
.search-selector-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px 5px 30px ;

}

.search-input {
  width: 250px;
  padding: 5px 5px 5px 40px; 
  background-image: url('searchicon.png'); 
  background-position: 10px center; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media  (max-width: 767px) {
  .search-selector-row {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}